{% extends "blog/base.html" %} {% block content %}
<style>
  img {
    width: 100%;
    height: 100%;
  }
</style>
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        class="auto-fit"
        src="{{posts.0.author.profile.image.url }}"
        class="img-fluid rounded-start width"
        alt="..."
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">About Me</h5>
        <p class="card-text">
          My name is osama Elzekred and this is my first website ever , hope you
          enjoy it! 😁.
        </p>
        <div class="card-text">
          <small class="text-muted">osamaelzekred@gmail.com</small>
        </div>
      </div>
      <!-- social media -->
      <div class="list m-3">
        <h5 class="text-center border-bottom p-3">My soical media</h5>
        <div class="text-center">
          <a href="https://www.facebook.com/OsamaElZekred/"
            ><i class="fab fa-facebook-square fa-3x"></i
          ></a>
          <a href="https://www.instagram.com/osama_el_zekred/"
            ><i class="fab fa-instagram fa-3x"></i
          ></a>
          <a href="https://www.linkedin.com/in/osama-elzekred-663b78221/"
            ><i class="fab fa-linkedin fa-3x"></i
          ></a>
          <a href="https://github.com/Osama-Elzekred"
            ><i class="fab fa-github fa-3x"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
