{% extends "blog/base.html" %} {% load bootstrap4 %} {% block content %}
<style>
  img {
    width: 100%;
    height: 100%;
  }
  hr {
    margin-block-start: 0.1em;
    margin-block-end: 0.6em;
  }
  .comment_author_img {
    height: 35px;
    width: 35px;
    margin-right: 8px;
  }
</style>
<article class="media content-section">
  
  <div class="media-body">
    <div class="article-metadata">
      <!-- REMOVE  {% url 'profile' %} cause it is wrong -->
       <div class="d-flex flex-row">
      <img
        class="rounded-circle article-img"
        src="{{post.author.profile.image.url}}"
        alt=""
      />
      <div>
        <a class="mr-2" href="{% url 'user-posts' post.author.username %}"
          >{{ post.author }}</a
        >
        <small class="text-muted">{{ post.date_posted | date:"F d, Y"}}</small>
        {% if object.author == user %}
      <div class=" ml-2 float-right">
        <a
          class="btn btn-secondary btn-sm mt-1 mb-1"
          href="{% url 'post-update' object.id %}"
          ><i class="fas fa-edit"></i></a
        >
        <a
          class="btn btn-danger btn-sm mt-1 mb-1"
          href="{% url 'post-delete' object.id %}"
          > <i class="fas fa-trash"></i></a
        >
      </div>
      {% endif %}
      <div class="pt-2"><h4>
            {{ post.title }}
        </h4></div>  
      </div>
    </div>

      
    </div>
    <p class="article-content">{{ object.content|safe }}</p>
    {% if post.image_url is not null %}

    <img
      class="rounded mx-auto d-block"
      src="{{post.image_url|default_if_none:'#' |safe}}"
    />

    {% endif %}
    <div class="mt-2 text-secondary">
      {{post.total_likes}} likes - {{post.total_dislikes}} dislikes
    </div>
    <div>
      <!--             Like buttom              -->
      <hr class="margin-block-start: 0;" />
      <div class=" d-flex flex-row">
      <form class="mb-2" action="{% url 'like_post' post.pk %}" , method="POST">
          {% csrf_token %} {% if user in post.likes.all %}
          <button
            type="submit"
            ,
            name="post_id"
            ,
            value="{{ post.id }}"
            ,
            class="btn btn-outline-danger btn-ms"
          >
            <i class="fas fa-thumbs-down"></i> unLike
          </button>
          {% else %}
          <button
            type="submit"
            ,
            name="post_id"
            ,
            value="{{ post.id }}"
            ,
            class="btn btn-outline-primary btn-ms"
          >
            <i class="fas fa-thumbs-up"></i> Like
          </button>
          {% endif %}
        </form>
        <!-- Dislike buttom  -->
        <form action="{% url 'dislike_post' post.pk %}" , method="POST">
          {% csrf_token %} {% if user in post.dislikes.all %}
          <button
            type="submit"
            ,
            name="post_id"
            ,
            value="{{ post.id }}"
            ,
            class="btn btn-outline-primary ml-1"
          >
            <i class="fas fa-thumbs-up"></i>
            Undislike
          </button>
          {% else %}
          <button
            type="submit"
            ,
            name="post_id"
            ,
            value="{{ post.id }}"
            ,
            class="btn btn-outline-danger btn-ms ml-1"
          >
            <i class="fas fa-thumbs-down"></i>
            Dislike
          </button>
          {% endif %}
      </form>
      </div>
<!-- Comment input -->
      <div class="row justify-content-conter ">
        <div class=" col-sm-12 ">
          <form action="{% url 'post-detail' post.id %}" method="POST">
            {% csrf_token %} {% bootstrap_form form %}
            <div class="d-grid gap-3">
              <button class="btn btn-success mt-0 col-sm-12" , type="submit">
                 <i class="fas fa-comment"></i> comment
              </button>
          </form> 
        </div>
      </div>
    </div>


     <!-- comments  -->
      {% for comment in comments %}
      
      <div class="row justify-content-conter mt-2 mb-2 media content-section">
        <div class="col-sm-12  ">
        
          <div class="article-metadata d-flex flex-row">
             <img
    class="rounded-circle comment_author_img"
    src="{{comment.author.profile.image.url}}"
    alt=""
  />
      <a class="mr-2" href="{% url 'user-posts' comment.author.username %}"
        >{{ comment.author }}
        </a>
      <small class="text-muted mt-1">{{ comment.date_posted }}</small>
      {% if comment.author == request.user %} 
         <a href="{% url 'comment-delete' post.id comment.id %}" , style="color:rgb(238, 31, 31);  ">
          <i class="fas fa-trash ml-2 float-right"></i>
        </a>
        {% endif %}
    </div>
     <p>{{ comment.body }}</p>
        </div>
      </div>
       {% endfor %}
  </div>
</article>

{% endblock content %}
