{% extends "blog/base.html" %} {% load bootstrap4 %} {% block content %}
<div class="content-section">
  <form method="POST" , enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Blog Post</legend>
      {% bootstrap_form form %}
      <div class="form-group">
        <button class="btn btn-outline-info col-sm-12" type="submit ">
          Post
        </button>
      </div>
    </fieldset>
  </form>
</div>
{% endblock content %}
