{% extends "blog/base.html" %} {% block content %}
<style>
  img {
    width: 100%;
    height: 100%;
  }
  hr {
    margin-block-start: 0.1em;
    margin-block-end: 0.6em;
  }
</style>

<!-- User Card -->
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="{{posts.0.author.profile.image.url }}"
        class="img-fluid rounded-start"
        alt="..."
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{posts.0.author.username}}</h5>
        <p class="card-text">{{posts.0.author.profile.bio }}</p>
        <p class="card-text">
          <small class="text-muted">{{posts.0.author.email }}</small>
        </p>
      </div>
    </div>
  </div>
</div>

<h3 class="mb-3">
  Posts by {{ view.kwargs.username }} ({{page_obj.paginator.count }})
</h3>

{% for post in posts %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
<div class="media-body">
    <div class="d-flex flex-row">
      <img
        class="rounded-circle article-img"
        src="{{post.author.profile.image.url}}"
        alt=""
      />
      <div>
        <a class="mr-2" href="{% url 'user-posts' post.author.username %}"
          >{{ post.author }}</a
        >
        <small class="text-muted">{{ post.date_posted | date:"F d, Y"}}</small>
        <h3>
          <a class="article-title" href="{% url 'post-detail' post.id %}"
            >{{ post.title }}</a
          >
        </h3>
      </div>
    </div>
    <p class="article-content">{{ post.content|safe }}</p>
    {% if post.image_url is not null %}

    <img
      class="rounded mx-auto d-block"
      src="{{post.image_url|default_if_none:'#' |safe}}"
    />

    {% endif %}
    <div class="mt-2 text-secondary">
      {{post.total_likes}} likes - {{post.total_dislikes}} dislikes
    </div>
    <div>
      <hr />
      <div class="d-flex flex-row">
        <form
          class="mb-2"
          action="{% url 'like_post' post.pk %}"
          ,
          method="POST"
        >
          {% csrf_token %} {% if user in post.likes.all %}
          <button
            type="submit"
            ,
            name="post_id"
            ,
            value="{{ post.id }}"
            ,
            class="btn btn-outline-danger btn-ms"
          >
            <i class="fas fa-thumbs-down"></i> unLike
          </button>
          {% else %}
          <button
            type="submit"
            ,
            name="post_id"
            ,
            value="{{ post.id }}"
            ,
            class="btn btn-outline-primary btn-ms"
          >
            <i class="fas fa-thumbs-up"></i> Like
          </button>
          {% endif %}
        </form>
        <!-- Dislike buttom  -->
        <form action="{% url 'dislike_post' post.pk %}" , method="POST">
          {% csrf_token %} {% if user in post.dislikes.all %}
          <button
            type="submit"
            ,
            name="post_id"
            ,
            value="{{ post.id }}"
            ,
            class="btn btn-outline-primary ml-1"
          >
            <i class="fas fa-thumbs-up"></i>
            Undislike
          </button>
          {% else %}
          <button
            type="submit"
            ,
            name="post_id"
            ,
            value="{{ post.id }}"
            ,
            class="btn btn-outline-danger btn-ms ml-1"
          >
            <i class="fas fa-thumbs-down"></i>
            Dislike
          </button>
          {% endif %}
          <a
            href="{% url 'post-detail' post.id %}"
            class="btn btn-outline-success"
          >
            <i class="fas fa-comments"></i>
            Comments
          </a>
        </form>
      </div>
    </div>
  </div>
</article>
{% endfor %}

<footer style="gap: 3px" class="pagination justify-content-center">
  {% if is_paginated %} {% if page_obj.has_previous %}
  <a class="btn btn-outline-info mb-4" href="?page=1">1</a>
  <a
    class="btn btn-outline-info mb-4"
    href="?page={{page_obj.previous_page_number}}"
    >&laquo;</a
  >
  {% endif %}
  <a class="btn btn-info mb-4" href="?page={{page_obj.number }}"
    >{{page_obj.number }}</a
  >
  {% if page_obj.has_next %}
  <a
    class="btn btn-outline-info mb-4"
    href="?page={{page_obj.next_page_number }}"
    >&raquo;</a
  >
  <a
    class="btn btn-outline-info mb-4"
    href="?page={{page_obj.paginator.num_pages}}"
    >{{page_obj.paginator.num_pages}}</a
  >
  {% endif %} {% endif %}
</footer>
{% endblock content %} {% block sidebar %}
<p>Hi everyone , Have a nice day</p>
<ul class="list-group">
  <li class="list-group-item list-group-item">
    Last post :
    <a class="article-metadata" href="{% url 'post-detail' posts.0.id %}"
      >{{ posts.0}}</a
    >
    - by
    <a
      class="mr-2 article-metadata"
      href="{% url 'user-posts' posts.0.author.username %}"
      >{{ posts.0.author }}</a
    >
  </li>
  <li class="list-group-item list-group-item-light">Announcements</li>
  <li class="list-group-item list-group-item-light">Calendars</li>
  <li class="list-group-item list-group-item-light">etc</li>
</ul>
{% endblock sidebar %}
